{% extends "layout.html" %}
{% block content %}
          <div><br></div>
          <div><br></div>

          <div><br></div>
            <div>
                <h1> <br>
                  <span class="typer-line" >What’s Trending ?</span>
                  <br>
                     
                    </h1>
              </div>
            <div class="action">
              <div  id="search_button">
                <p>
                    <a href="{% url 'trend' %}" class="button">I don't know, show me ! </a>
                    <a href="{% url 'search' %}" class="button">SEARCH</a>
                </p>
              </div>
            </div>
              
{% endblock %}