{% extends "layout.html" %}
{% block content %}
<head>
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/search.css'%}" type="text/css" media="screen">
  <link rel="stylesheet" href="{% static 'css/stats.css'%}" type="text/css" media="screen">
  


</head>
<script type="text/javascript">

function container() {
  x = document.getElementById("container");
  x.style.visibility = (x.style.visibility == "visible") ? "hidden" : "visible";
  y = document.getElementById("menu_select");
  y.style.visibility = (x.style.visibility == "visible") ? "hidden" : "visible";
}

</script>
		
		<div class="ui-menu" onclick="container()" id="menu_select" style="position:fixed">
				<i style="color: rgb(255, 255, 255); fill: rgb(255, 255, 255); border-color: rgb(255, 255, 255); background-color: rgb(255, 255, 255);" class="ui-menu__line ui-menu__line_1"></i>
				<i style="color: rgb(255, 255, 255); fill: rgb(255, 255, 255); border-color: rgb(255, 255, 255); background-color: rgb(255, 255, 255);" class="ui-menu__line ui-menu__line_2"></i>
				<i style="color: rgb(255, 255, 255); fill: rgb(255, 255, 255); border-color: rgb(255, 255, 255); background-color: rgb(255, 255, 255);" class="ui-menu__line ui-menu__line_3"></i>
			</div>

		<div id="container" class="container" >
			
			<nav>
			<img href="#" class="close" src="{% static 'images/close_overlay.png'%}" style="position:relative" onclick="container()" >
				<h4>NAVIGATE</h4>
                <ul>
					<li><a href="{% url 'stats' %}">+ Statistics Home</a></li>
					<li><a href="#" onclick="ga('send', 'event', 'Menutech', 'Click', 'Menutech-button');">+ FaceBook Statistics</a>
						<!-- <ul>
							<li><a href="index.php#page-3" onclick="ga('send', 'event', 'Menutech', 'Click', 'Menutech-button');">+ Graph</a></li>
							<li><a href="index.php#page-3" onclick="ga('send', 'event', 'Menutech', 'Click', 'Menutech-button');">+ Graph</a></li>
							<li><a href="index.php#page-3" onclick="ga('send', 'event', 'Menutech', 'Click', 'Menutech-button');">+ Graph</a></li>
						</ul> -->
					</li>
					<li><a href="#" onclick="ga('send', 'event', 'Menutech', 'Click', 'Menutech-button');">+ YouTube Statistics</a>
						<!-- <ul>
							<li><a href="index.php#page-3" onclick="ga('send', 'event', 'Menutech', 'Click', 'Menutech-button');">+ Graph</a></li>
							<li><a href="index.php#page-3" onclick="ga('send', 'event', 'Menutech', 'Click', 'Menutech-button');">+ Graph</a></li>
							<li><a href="index.php#page-3" onclick="ga('send', 'event', 'Menutech', 'Click', 'Menutech-button');">+ Graph</a></li>
						</ul> -->
					</li> 
					<li><a href="#" onclick="ga('send', 'event', 'Menutech', 'Click', 'Menutech-button');">+ Twitter Statistics</a>
						<!-- <ul>
							<li><a href="index.php#page-3" onclick="ga('send', 'event', 'Menutech', 'Click', 'Menutech-button');">+ Graph</a></li>
							<li><a href="index.php#page-3" onclick="ga('send', 'event', 'Menutech', 'Click', 'Menutech-button');">+ Graph</a></li>
							<li><a href="index.php#page-3" onclick="ga('send', 'event', 'Menutech', 'Click', 'Menutech-button');">+ Graph</a></li>
						</ul> -->
					</li>
				</ul>
			</nav>  
		</div>
          <div><br></div>
          <div><br></div>

          <div><br></div>
            
          		{% block content1 %}{% endblock %}

              
{% endblock %}