{% extends "layout.html" %}
{% block content %}
<head>
<title>
  View Statistics | Flaming Tribble
</title>
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/search.css'%}" type="text/css" media="screen">
  <link rel="stylesheet" href="{% static 'css/stats.css'%}" type="text/css" media="screen">
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
  </script>


</head>
<script type="text/javascript">

function container() {
  x = document.getElementById("container");
  x.style.visibility = (x.style.visibility == "visible") ? "hidden" : "visible";
  y = document.getElementById("menu_select");
  y.style.visibility = (x.style.visibility == "visible") ? "hidden" : "visible";
}

</script>
            
          	<h1 style="min-height:65px"> 
                  <nav class="navbar-search navbar-top" style='top: -14px;min-height: 13%;'> 
                  <form style="color:black">STATISTICS
                  </form></nav>                     
                    </h1>

			<div id="page1" class="page">
				<div class='chart'>{{ chart.as_html }}</div>
        <div class='chart'>{{ charti.as_html }}</div>
              </div>

              
{% endblock %}