{% extends "statistics.html" %}
{% block content1 %}
{% load staticfiles %}
<style type="text/css">
  	body{
		background-image: url("{% static 'images/stats_page.jpg' %}");
		background-size: auto;
	}
  </style>

	<script src="{% static 'js/jquery.flot.js' %}"></script>

<script type="text/javascript">

var i=0;
var slides = ["page1","page2","page3","page4"];
var bg = ["images/stats_page.jpg","images/fbstats.jpeg","images/ytstats.jpg","images/tstats.jpg"]

function slide() {
  if (i<3) {
	  x = document.getElementById(slides[i+1]);
	  x.style.visibility = (x.style.visibility == "visible") ? "hidden" : "visible";
	  y = document.getElementById(slides[i]);
	  y.style.visibility = (x.style.visibility == "visible") ? "hidden" : "visible";
	  i = i+1;
	  b = bg[i]
	  // document.body.style.backgroundImage = "url({% static b %})";
	  // document.body.style.backgroundSize = "cover";
	  
	};
}

function slideback() {
  if (i>0) {
	  x = document.getElementById(slides[i]);
	  x.style.visibility = (x.style.visibility == "visible") ? "hidden" : "visible";
	  y = document.getElementById(slides[i-1]);
	  y.style.visibility = (x.style.visibility == "visible") ? "hidden" : "visible";
	  b = bg[i-1]
	  // document.body.style.backgroundImage = "url({% static b %})";
	  // document.body.style.backgroundSize = "cover";
	  i = i-1;
	};
}

</script>


			<div id="page1" style="visibility:visible" class="page">
				<div class='chart'>{{ chart.as_html }}</div>
              </div>

              
{% endblock %}