{% extends "trend.html" %}
{% block content1 %}
	            
              <table class='heading' style="position:fixed;z-index:1000">
               <tr>
                 <th class='trend_keyword trend'>Keyword(s)</th>
                 <th class="trend_location trend">
                    <select class="button" onChange="window.location.href=this.value" >
                      <option value="" > Country </option>
                      <option value="/explore/India/" > India </option>
                      <option value="/explore/Global/" > Global </option>                      
                    </select></th>
                 <!-- <th class="trend_value trend">Sentiment</th> -->
                 <th class="trend_value trend">Date</th>
               </tr>
             </table>
             <hr>
             <br>
	            {% for words in word %}
		            <div class='display_box'>
		            	<table>
                   <tr>
                   {% if '#' in words.word_name %}
                     <td class='trend_keyword trend'><a href="/search/{{ value }}/?q={{ words.word_name[1:] }}" style="font-size:15px;margin-left:10px" method='get'>{{ words.word_name }}</a></td>
                    {% else %}
                      <td class='trend_keyword trend'><a href="/search/{{ value }}/?q={{ words.word_name }}" style="font-size:15px;margin-left:10px" method='get'>{{ words.word_name }}</a></td>
                    {% endif %}

                     <td class="trend_location trend">{{ words.word_from }}</td>                     

                     <td class="trend_location trend">{{ words.date_time }} </td>

                   </tr>

                 </table>
                 
		            </div>
	            {% endfor %}
   {% endblock %}         

                