#container{
    visibility: hidden;
    
}

nav{
  z-index:1;
}
body{
    background-color:#CCC;
    background-image:none; 
  }
a.button{
  	color: black;
  	text-align: center;
  }
.search_keyword{
  	min-height: 40px;
  vertical-align: middle;
  box-shadow: 3px 3px 2px #3A3A3A;
  min-width: 60%;
  font-size: 20px;
  border: 1px solid #FFF;
  max-height: 40px;
  color: #000;
  }

.navbar-search{
  font-size: 20px;
  display_box: inline;
  opacity: 1;
  background-color: #00A9FF;
}

#search_button{
	text-align: center;
}

#above_header input{
	left:2em;
	max-height:20px;
  
}

.display_box {
    color: #141823;
    background-color: white;
    word-wrap: break-word;
    line-height: 1.34;
    font-family: helvetica,arial,sans-serif;
    font-size: 15px;
    text-align: left;
	direction: ltr;
	margin-left: 5%;
	border-width:0.5px;
	border-style: solid;
	border-color: black;
	min-height: 40px;
	max-width: 90%;
	vertical-align: middle;
	padding:15px;
	padding-left: 25px;
	margin-top: 1em;
	margin-bottom: 1em;
}

.search_results{
	margin-left: 10%
}

hr{
	margin-left: 5%;
	margin-right: 5%;
}

form.button{
  min-height: 30px;
}

.ui-menu{
  position:absolute;
  z-index:200;
  top: 0px;
right: 15px;
  width:31px;
  height:14px;
  padding:30px;
  background:rgba(0,0,0,0);
  -webkit-transform:translateZ(0);
  transform:translateZ(0);
  cursor:pointer
}

.ui-menu:after{
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  z-index:204;
  content:''
}

.ui-menu__line{
  float: left;
  padding: 0px 17px 0px 0px;
  border: 1px solid black;
  color: #FFF;
  display: block;
  position: relative;
  height: 2px;
  margin-bottom: 4px;
  transition: transform 0.35s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, background-color 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.page_posters .ui-menu__line{
  box-shadow:0 4px 26px rgba(0,0,0,.35)
}

.ui-menu__line_2{
  z-index:202
}

.ui-menu__line_3{
  z-index:203
}

.ui-menu:hover .ui-menu__line{
  -webkit-transition:-webkit-transform .175s cubic-bezier(.215,.61,.355,1),background-color .6s cubic-bezier(.215,.61,.355,1);
  transition:transform .175s cubic-bezier(.215,.61,.355,1),background-color .6s cubic-bezier(.215,.61,.355,1)
}

.ui-menu:hover .ui-menu__line_1{
  -webkit-transform:translateY(-3px);
  -ms-transform:translateY(-3px);
  transform:translateY(-3px)
}

.ui-menu:hover .ui-menu__line_3{
  -webkit-transform:translateY(3px);
  -ms-transform:translateY(3px);
  transform:translateY(3px)
}

.ui-menu:active .ui-menu__line{
  -webkit-transition-duration:.05833333s;
  transition-duration:.05833333s
}

.ui-menu:active .ui-menu__line_1,.ui-menu:active .ui-menu__line_3{
  -webkit-transform:translateY(0);
  -ms-transform:translateY(0);
  transform:translateY(0)
}


#container nav{
  opacity:1;
  color: #8C9BA8;
  text-decoration: none;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease;
  min-height: 100%;
  max-width: 20%;
  right:0;
}


.container { max-width:100%; padding:0 40px; margin:0 auto }

.container { padding:20px 28px }
.container { padding:88px 28px 28px !important }

nav { padding:24px 0 0 }
nav.social ul { padding:4px 0 24px }
nav.social ul li a, nav.social ul li a:link, nav.social ul li a:visited { color:#fff }
nav.social ul:after { content:""; display:block; clear:both }
nav h4 { font-family: "Nimbus Sans L";
letter-spacing:0.1em;
 font-size:20px;
  line-height:20px;
   color:#fff;
    text-transform:uppercase;
     padding:0px 0 0;
     margin: 2em;
     margin-bottom: 0px;
}
nav h4:before { content:""; display:none; height:4px; background:#17bcb8; width:32px; margin:0 0 12px }

nav h4 a, nav h4 a:link, nav h4 a:visited { color:#fff }
nav h4 a:hover, nav h4 a:active { color:#aab9c0; text-decoration:none }
nav ul { padding:24px 0 }

nav ul li { 
  font-family: "Nimbus Sans L"; 
  padding:8px 0; 
  color:#8c9ba8;
  margin: 1em;
  margin-left: 20px;
}

nav ul li a, nav ul li a:link, nav ul li a:visited { color:#8c9ba8 }
nav ul li a:hover, nav ul li a:active, nav ul li.current-cat a, nav ul li.current-archive a, nav ul li.current-menu-item a { color:#0daf4a; text-decoration:none }

th, td{
  max-width:25%;
}