.chart{
	text-align: left;
	min-width: 90%;
	float: center;
	margin-left: 5%;
	margin-right: 5%;
	background-color: white;
	border:2px solid white;
	position:relative;
	margin-top: 10%;
	padding: 3em;
}

canvas{
	float: center;
	text-align: center;
	vertical-align: middle;
	text-align: block
}

td.legendColorBox div div{
	width:100%;
}

h1{
	position:absolute;
	float:center;
}

div span{
	min-height: 85px;
	display: inline-block;
    word-wrap: break-word;
    min-height: 85px;
    font-size: 92px;
    line-height: 1em;
    color: #000;
    letter-spacing: 0.2em;
    text-align: center;
    margin: 0 auto;
    display: table;
}

td.legendColorBox div div{
	width:100%;
}

.legend{
	background-color: white;
}