a.button {
    border: 2px solid #0DAF4A;
    height: 66px;
    line-height: 66px;
    padding: 0px 20px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    cursor: pointer;
    margin:2em;
    vertical-align: middle;
    display: inline-block;
    text-decoration: none;
}

#search_button a:hover{
	border: 2px solid #000;
	background-color: #0DAF4A;
	color: #000;
	top: 0px;
	vertical-align: middle;
	text-decoration: none;
}

#search_area {
	visibility: hidden;
    position: relative;
    /*overflow: hidden;*/
    top: 0px;
    width: 100%;

}

input{
	width: 60%;
	float: center;
	height: 45px;
	box-shadow: 2px 5px 5px black;
    border: 2px solid white;
	font-size: 30px;
    vertical-align: middle;
    color: #000;
}

#search_area .button{
	margin-left:4em;
    vertical-align: middle;
}

.action {
    position: relative;
}
.button_close{
	max-width: 20px;
	position:relative;
	left: -5px;
	height:66px;
}

#search_area a:hover{
	border: 2px solid #000;
	background-color: #0DAF4A;
	color: #000;
}
a, a:link, a:visited {
    color:#A3A3A3;
    text-decoration: none;
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease;
    text-decoration: none;
}
* {
    margin: 0px;
    padding: 0px;
}
.feature-section p {
    line-height: 36px;
    text-align: center;
}

#page-1 .action a {
    width: 300px;
    text-decoration: none;
}


.feature-section h1 .typer-line, .feature-section h2 .typer-line {
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
    display: block;
    word-wrap: break-word;
    min-height: 85px;
    font-size: 92px;
    line-height: 1em;
    color: #000;
    letter-spacing: 0.2em;
}
* {
    margin: 0px;
    padding: 0px;
}
.feature-section h1, .feature-section h2 {
    font-size: 54px;
    line-height: 62px;
    text-align: center;
}

.feature-section {
    color: #000;
}

.main {
    font-family: "futura_ltregular",Helvetica,Arial,sans-serif;
    font-weight: normal;
    content : "";
    display: block;
    position:absolute;
    top: 0;
    left: 0;
    /*background-image:url(../images/macbook.jpg);*/
    background-repeat: no-repeat;
    min-height: 100%;
    min-width: 100%;
    background-size: 100%;
    background-attachment: fixed;
    z-index: 3;
    text-decoration: none;
}


.menu-active #menu {
    right: -16px;
}
#menu {
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
    width: 290px;
    padding-right: 16px;
    background: #111417 none repeat scroll 0% 0%;
    position: fixed;
    top: 0px;
    right: -306px;
    bottom: 0px;
    z-index: 512;
    overflow: auto;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: "futura_ltregular",Helvetica,Arial,sans-serif;
    font-weight: normal;
    line-height: 1;
    color: #3F4C58;
}

#header .logo a {
    display: block;
}
a, a:link, a:visited {
    color: #A3A3A3;
    text-decoration: none;
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease;
}

#header .primary {
    transition-property: padding;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
    padding: 0px 54px 0px 0px;
    float: right;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

.clearboth {
    clear: both;
}

h1, h2, h3 {
    font-family: "ProximaNovaBold";
    font-weight: normal;
    color:#A3A3A3;
}

#header .primary ul li.menu-button a {
    display: block;
    width: 96px;
    overflow: hidden;
}
#header .primary ul li a, #header .primary ul li a:link, #header .primary ul li a:visited {
    display: block;
    float: left;
    padding: 7px 10px 6px;
    border: 2px solid transparent;
    color: #FFF;
}

#header .primary ul li {
    font-family: "ProximaNovaBold",Helvetica,Arial,sans-serif;
    letter-spacing: 0.2em;
    font-size: 14px;
    color: #FFF;
}



div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0px;
    padding: 0px;
    border: 0px none;
    font: inherit;
    vertical-align: baseline;
}
html, body {
    color: #000;
    font: 18px/1.7 "Open Sans Light",Arial,Helvetica,sans-serif;
}

.footer-bottom{
	background-color: #000;
	height:20px;
	width:100%;
	bottom: 0;
	padding:10px;
	vertical-align: bottom;
	text-align: center;
	position: fixed;
	font-size: 10px;
    padding-bottom: 20px;
}

nav ul li {
    font-size: 13px;
    line-height: 13px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
nav ul {
    list-style: outside none none;
}

#overlay {
     visibility: hidden;
     position: fixed;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1;
     background: #000 none repeat scroll 0% 0% ;
     opacity: 0.8;
    letter-spacing: 0.1em;
}

#overlay div.box {
	position:absolute;
	z-index:125;
	top:15%;
	left:25%;
	padding:0px;
	width:50%;
	height:70%;
	cursor:pointer;
}

body {
     height:100%;
     margin:0;
     padding:0;
}

#overlay .overlay_box:hover {
	background-color:#A3A3A3;
	opacity: 1;
	color: #A3A3A3;
}

.overlay_box {
    position: absolute;
    width: 48%;
    height: 47%;
    border: 1px solid #A3A3A3;
    color: #A3A3A3;
}

.overlay_box_1{
	top: 0px;
	left:0px;
	color: #A3A3A3;
}

.overlay_box_2 img{
	height: 80%;
	width:60%;
}

.overlay_box_2{
	bottom: 0px;
	left:0px;
	color: #A3A3A3;
}

.overlay_box img{
	height: 80%;
	width:80%;
	vertical-align: middle;
	box-shadow: border-box;
}

.overlay_box_3{
	top: 0px;
	right:0px;
	color: #A3A3A3;
}

.overlay_box_4{
	bottom: 0px;
	right:0px;
	color: #A3A3A3;
}

#overlay .close{
	height: 22px;
	margin-left: 5px;
	margin-top: 2px;
	width: 23px;
	color: #3B5998;
	cursor: pointer;
	text-decoration: none;
	text-align: right;
    float: right;
}

nav{
    padding: 15px;
    padding-top: 20px;
    position: fixed;
    width: 100%;
    color: white;
    background-color: black;
    opacity: 0.8;
    margin-bottom: 20px;
    top:0px;
    margin-top: 0px;
  }

.ui-works{
    position:fixed;
    z-index:125;
    top:0px;
    left:0px;
    padding:30px;
    width:29px;
    height:29px;
    background:rgba(0,0,0,0);
    cursor:pointer;
    -webkit-transition:opacity .6s cubic-bezier(.39,.575,.565,1);
    transition:opacity .6s cubic-bezier(.39,.575,.565,1);
    -webkit-transform:translateZ(0);
    transform:translateZ(0)
}


.ui-works__square_1 {
    left: 25px;
    top: 25px;
}
.ui-works__square_2 {
    left: 37px;
    top: 25px;
}
.ui-works__square_3 {
    left: 25px;
    top: 37px;
}
.ui-works__square_4 {
    left: 37px;
    top: 37px;
}
.ui-works__square {
    position: absolute;
    width: 9px;
    height: 9px;
    border: 1px solid white;
    background: transparent none repeat scroll 0% 0% !important;
    transition: transform 0.35s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, border-color 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.ui-works:hover .ui-works__square{
    -webkit-transition:-webkit-transform .175s cubic-bezier(.215,.61,.355,1),border-color .6s cubic-bezier(.215,.61,.355,1);
    transition:transform .175s cubic-bezier(.215,.61,.355,1),border-color .6s cubic-bezier(.215,.61,.355,1)
}

.ui-works:hover .ui-works__square_1{
    -webkit-transform:translateX(2px)translateY(2px);
    -ms-transform:translateX(2px)translateY(2px);
    transform:translateX(2px)translateY(2px)
}

.ui-works:hover .ui-works__square_2{
    -webkit-transform:translateX(-2px)translateY(2px);
    -ms-transform:translateX(-2px)translateY(2px);
    transform:translateX(-2px)translateY(2px)
}

.ui-works:hover .ui-works__square_3{
    -webkit-transform:translateX(2px)translateY(-2px);
    -ms-transform:translateX(2px)translateY(-2px);
    transform:translateX(2px)translateY(-2px)
}

.ui-works:hover .ui-works__square_4{
    -webkit-transform:translateX(-2px)translateY(-2px);
    -ms-transform:translateX(-2px)translateY(-2px);
    transform:translateX(-2px)translateY(-2px)
}

.ui-works:active .ui-works__square{
    -webkit-transition-duration:.05833333s;
    transition-duration:.05833333s;
    -webkit-transform:translateX(0)translateY(0);
    -ms-transform:translateX(0)translateY(0);
    transform:translateX(0)translateY(0)
}


table{
    min-width: 90%;
    margin-left: 5%;
}

table.heading{
    min-width: 80%;
    margin-left: 10%;
    color: black;
}


.trend{
    text-align: center;
}

th{
    color: black;
    min-width: 25%;
}

td{
    min-width: 25%;
}

nav{
    max-height: 10%;
}

h1{
    margin-top: -10px;
    font-size: 30px;
}

th.trend_location.button{
    background-color: #00A9FF;
    min-height: 100%;
}